/* HTML ELEMENTS STYLE */
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

ol {
    margin: 0;
    padding: 0;
    background-color: white;
}

ol li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 15px 40px;
    background-color: #EAE3D2;
    font-size: 18px;
}

input {
    background-color: white;
    color: black;
    position: absolute;
    left: 0;
    width: 99.1%;
    border: none;
    padding: 5px;
}

/* HEADER`S STYLE */

.header{
    background-color: #97C4B8;
    text-align: center;
    color: white;
    padding: 10px 30px;
}

.add {
    background-color: white;
    color: black;
    position: absolute;
    left: 500px;
    width: 30%;
    border: none;
    padding: 5px;
}

/* CLASSES OF THE FIRST DIV */
.first {
    margin: 0;
    padding: 0;
    background-color: #EAE3D2;
}

.filled {
    background-color: #F1F1F1;
    color: black;
    padding: 1px 0;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.another {
    margin: 0;
    padding: 0;
    background-color: white;
}

.change {
    background-color: white;
    color: black;
    padding: 1px 0;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

/* CLASSES IN THE SECOND DIV */

.second {
    margin: 0;
    padding: 0;
    background-color: #EAE3D2;
}

.in {
    background-color: #F1F1F1;
    color: black;
    position: absolute;
    left: 0;
    width: 99.1%;
    border: none;
    padding: 5px;
}